/* Sivun tyylit */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    --teksti: #333333;
    --tausta: #eeeeee;
    --teksti-vaalea: #dddddd;
    --bg-dark: #444444;
    --highligt: #87af19;
}

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: var(--tausta);
    color: var(--teksti);

}
/* Header*/
header {
    background-color: var(--bg-dark);
    color: var(--teksti-vaalea);
    padding: 10px;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom:var(--highligt) solid 5px;


}

.ingressi {
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.6em;

}

.ingressi::first-letter {
    float: left;
    font-size: 3.2em;
    line-height: 1em;
    font-weight: bold;
    margin-right: 0.1em;

}

/* main-lohko*/
main {
    font-size: 1.5em;
    line-height: 1.4em;    
}


/* section-lohko*/
section {
    max-width: 1100px;
    width: 70%;
    margin: 20px auto;

}

/* showcase */
.showcase {
    background-image: url('img/Coding-Links-Computer-Programming-Computer-Code-1873831.png');
    color: var(--teksti-vaalea);
    width: 100%;
    padding: 40px 0;
    text-align: center;
    font-size: 1.7em;
    line-height: 1.7em;  

}

/* Nimikkeet */
.nimikkeet a{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    background-color: var(--bg-dark);
    color: var(--teksti-vaalea);
    border: 1px solid var(--teksti);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;

}

.nimikkeet a:hover{
    color:var(--teksti);
    background-color: var(--highligt);

}

footer {
    background-color: var(--bg-dark);
    color: var(--teksti-vaalea);
    padding: 40px 0;
    text-align: center;
    font-size: 1.2em;

}







